"Please enter your email address"

<form action="/users/recovery" method="post">
  <label for='email'>
  Email:
  <input type="text" name="email" required>
	</label>
  <input type="submit" value="Reset">
</form>
