<%if flash[:errors] && !flash[:errors].empty? %>
  <% flash[:errors].each do |error|%>
    <%= error%><br>
  <%end%>
<%elsif current_user%>
  Hello <%= current_user.email%>!
  <form action="/users/signout" method="post">
    <input type="submit" value="Sign out">
  </form>
<%end%>

<%= yield %>
